* {
    padding: 0px;
    margin: 0px;
    border: 0px;

}

.rows{
	display: flex;
	justify-content: center;
}

.row{
	display: flex;
	justify-content: center;
	margin:20px 0;
	color: rgb(0, 0, 0);
	font-size: 50px;
	text-decoration: none;
	padding-right: 50px;
}

.content{
	display: flex;
	justify-content: center;
}

.media {

	width: 500px;
	display: flex;
	margin: 0 20px;
	background-color: rgb(255, 174, 0);;
}

.media-object{
	max-width: 150px;
	max-height: 133px;
}

.media-body {
	flex: 1;
	background-color: rgb(219, 216, 49);
}

.media-heading{
	background-color: rgb(161, 97, 1);
	padding: 12px;
	display: flex;
	justify-content: center;
}

.text{
	padding: 15px;
}