* {
    padding: 0px;
    margin: 0px;
    border: 0px;

}

.rows{
	display: flex;
	justify-content: center;
}

.row{
	display: flex;
	justify-content: center;
	margin:20px 0;
	color: #000;
	font-size: 50px;
	text-decoration: none;
	padding-right: 50px;
}

.container{
	border: 1px solid rgb(231, 133, 20);
	max-width: 400px;
	width: 100%;
	margin: auto;
	
}

.wraper{
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #463214;
}

.header__row img{
	max-width: 50px;
	transform: rotate(180deg);
}

.header{
	padding: 20px 40px 0 40px;
	max-height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.menu div{
	height: 4px;
	width: 40px;
	background-color: white;
	margin-bottom: 7px;
}

.item img{
	max-width: 150px;
	max-height: 130px;
}

.content{
	flex: 1;
	padding: 40px 40px;
}

.content__item{
	height: 100%;
	flex: 1;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	
}

.item{
	display: flex;
	margin-bottom: 50px;
}

.item:last-child{
	margin: 0;
}

.item__content{
	text-align: center;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.item__content p{
	font-weight: 700;
	color:  #d6a82a;
	
}